@page
@model WebWarehouseDB.Pages.FilReq.Request.HRDepModel
@{
    <h1>Отдел кадров</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees[0].PositionId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @{
                            try
                            {
                                @Model.Positions.First(r => r.PositionId == item.PositionId).Name
                            }
                            catch
                            {
                                <p> Данных нет </p>
                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
