@page
@model IndexModel
@{
    ViewData["Title"] = "Главная Страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в веб-приложение Оптового Склада!</h1>
    <p>Удобное перемещение между базами данных, возможность добавлять новые и удалять ненужные.</p>
</div>
